{% extends "base.html" %}
{% load static %}

{% block title %} ~ Welcome to the Gown Connoisseur ~ {% endblock %}

{% block css %}
	{% include 'statics/css.html' %}
	<link href="https://unpkg.com/gijgo@1.9.11/css/gijgo.min.css" rel="stylesheet" type="text/css" />
{% endblock %}

{% block topnavbar %}
{% endblock %}

{% block content %}
	<div class='container'>
		
				<!-- logo -->
				<div class="d-flex flex-row justify-content-center my-3">
					<div class="col-6" style="">
						<img class="" src="{% static 'images/logoBlack.png' %}" style=" width: 100%;">
					</div>
				</div>

				
				<div class="d-flex flex-row justify-content-center my-3">
					<div class="col-10 col-sm-12 col-md-12">
						<form method="post" id="formdetaillog">
						<!-- <form action="/submitformdetails/" method="post" id="formdetaillog"> -->
						{% csrf_token %}
						<!-- description -->
						<p>
						Hello! We would like to find out more about your preferences to ensure that you have a wonderful and fulfilling experience with us. This checklist will help to frame an idea of the dream gown that you are looking for. Sit back, relax and enjoy while you take time to ponder on your dream gown!
						</p>

						<!-- main form -->
						<div class="border border-dark" style="">
							<div class="border border-dark text-center font-weight-bold p-2">
								Personal Information
							</div>

							<div class="d-flex border border-dark pb-3">
								
								<span class="col-6">
									<div class="m-1">Name of Bride:</div>
									{{ formfields.bridename}}
								</span>
								<span class="col-6">
									<div class="m-1">Name of Groom:</div>{{ formfields.groomname}}
								</span>
								
							</div>

							<div class="d-flex">
								<div class="col-3 border border-dark pb-2	">
									<div class="m-1">Phone:</div>
									{{ formfields.phonenum}}
								</div>

								<div class="col-3 border border-dark pb-2">
									<div class="m-1">Email:</div>
									{{ formfields.emailfield}}
								</div>

								<div class="col-6 border border-dark pb-2">
									<div class="m-1">How did you hear of us?</div>
									{{ formfields.howdidyouhear}}
								</div>

							</div>

							<div class="border border-dark text-center font-weight-bold p-2">
								Event Details
							</div>

							<!-- Event 1 -->
							<div class="d-flex ">
								
								<div class="col-3 border border-dark pb-2">
									<div class="m-1">Event Date</div>
									{{ formfields.eventdate1}}
								</div>

								<div class="col-4 border border-dark pb-2">
									<div class="m-1">Event Type</div>
									{{ formfields.eventtype1}}
								</div>

								<div class="col-5 border border-dark pb-2">
									<div class="m-1">Event Venue</div>
									{{ formfields.eventvenue1}}
								</div>

							</div>

							<!-- Event 2 -->
							<div class="d-flex">
								
								<div class="col-3 border border-dark pb-2">
									<div class="m-1">Event Date</div>
									{{ formfields.eventdate2}}
								</div>

								<div class="col-4 border border-dark pb-2">
									<div class="m-1">Event Type</div>
									{{ formfields.eventtype2}}
								</div>

								<div class="col-5 border border-dark pb-2">
									<div class="m-1">Event Venue</div>
									{{ formfields.eventvenue2}}
								</div>

							</div>

							<!-- Event 3 -->
							<div class="d-flex">
								
								<div class="col-3 border border-dark pb-2">
									<div class="m-1">Event Date</div>
									{{ formfields.eventdate3}}
								</div>

								<div class="col-4 border border-dark pb-2">
									<div class="m-1">Event Type</div>
									{{ formfields.eventtype3}}
								</div>

								<div class="col-5 border border-dark pb-2">
									<div class="m-1">Event Venue</div>
									{{ formfields.eventvenue3}}
								</div>

							</div>

							<div class="border border-dark text-center font-weight-bold p-2">Gown Preferences</div>
							<div class="d-flex ">

								<div class="col-8 border border-dark pb-2">
									<div class="m-1 my-2">Required Outfit (Please Tick): </div>

									<div class="d-flex w-100">
									{% for box in formfields.requiredoutfit %}
										<label class="d-flex mx-1 flex-fill align-items-center" for="{{ box.id_for_label }}">
											<span class="mx-1 col-6 align-middle">{{ box.choice_label }}</span>
											<span class="radio col-4 align-middle">{{ box.tag }}</span>
										</label>
									{% endfor %}
									</div>
								</div>

								<div class="col-4 border border-dark pb-2">
									
									<div class="m-1 my-2">No. of gowns required:</div>
									<div class="d-flex justify-content-center align-items-center align-self-center w-100">
								
											{{ formfields.noofgowns }}
									
									</div>
								</div>
							</div>

							<div class="col-12 border border-dark">
								
								<div class="m-1 my-2">Preferred Silhouette (Please Tick): </div>

									<div class="d-flex w-100 flex-wrap">
									{% for box in formfields.preferredoutfit %}
										<div class="d-flex flex-column col-3 p-0 my-3 align-items-center" for="{{ box.id_for_label }}">
											
											<div class="d-flex my-1 w-100 justify-content-center align-items-center">
												<span class="mx-2 align-middle">{{ box.choice_label }}</span>
												<span class="radio align-middle">{{ box.tag }}</span>
											</div>

											{% with 'images/'|add:box.choice_label|add:'.jpg' as image_path %}
											<img class="" src="{% static image_path %}" style="width:85%;">
											{% endwith %}
										
										</div>
									{% endfor %}
									</div>

								<div class="my-2 d-flex w-100">
									<span class="align-self-center" style="vertical-align: middle;">Others: </span>
									<span class="flex-fill">{{ formfields.preferredoutOthers }}</span>
								</div>
							</div>						

							<div class="col-12 border border-dark">
								<div class="m-1 my-2">Preferred Details: </div>

									<div class="d-flex w-100">
									{% for box in formfields.preferredstyle %}
										<label class="d-flex mx-1 flex-fill justify-content-center align-items-center" for="{{ box.id_for_label }}">
											<span class="mx-2 align-middle">{{ box.choice_label }}</span>
											<span class="radio align-middle">{{ box.tag }}</span>
										</label>
									{% endfor %}
									</div>

								<div class="my-2 d-flex w-100">
									<span class="align-self-center" style="vertical-align: middle;">Others: </span>
									<span class="flex-fill">{{ formfields.preferredstyleOthers }}</span>
								</div>
							</div>


							<div class="col-12 border border-dark">
								<div class="m-1 my-2">Preferred Neckline: </div>


									<div class="d-flex w-100 flex-wrap">
									{% for box in formfields.preferredNeckline %}
										<div class="d-flex flex-column col-3 p-0 my-3 align-items-center" for="{{ box.id_for_label }}">

											<div class="d-flex my-1 w-100 justify-content-center align-items-center">
												<span class="mx-2 align-middle">{{ box.choice_label }}</span>
												<span class="radio align-middle">{{ box.tag }}</span>
											</div>

											{% with 'images/'|add:box.choice_label|add:'.png' as image_path %}
											<img class="" src="{% static image_path %}" style="height:75%;">
											{% endwith %}

										</div>
									{% endfor %}
									</div>

								<div class="my-2 d-flex w-100">
									<span class="align-self-center" style="vertical-align: middle;">Others: </span>
									<span class="flex-fill">{{ formfields.preferredNeckOthers }}</span>
								</div>


							</div>


						</div>

						<hr class="mt-5">
						<div class="w-100 text-center"> ----- For Official Use ----- </div>
						<hr class="mt-3">
						<div class="w-100 d-flex justify-content-end mb-2 pr-2"
						style=""
						>{{ formfields.attendant }}
						</div>


						{{ formfields.additionalnotes }}
						</form>
						<div class="w-100 d-flex justify-content-between pr-2">
							<div></div>
							<!-- <button id="log_acct_details_btn" type="submit" 
							class="btn btn-primary" name="log_acct_details">Log / Verify Client Acct</button> -->
						</div>
						<hr class="my-3">
						<div class="d-flex align-items-center px-3">
							
							<div id="statusdiv" class="d-flex">
								<div class="mr-3">Form Table Status:</div></div>
							<button id="submitformdetails_btn" onclick="submitformdetails_post();"
							class="btn btn-outline-danger ml-auto" name="submit_form_details">Submit Form Details</button>
						</div>

						<hr class="my-3">
						
						<!-- acct details card -->
						<div class="card">
							<div class="card-header d-flex justify-content-between align-items-center pr-2">
								Account Details
								<!-- <button id="log_acct_details_btn" onclick=""
							class="btn btn-primary" name="log_acct_details">Log / Verify Client Acct</button> -->
							</div>
							<div id="acctdetailscardbody" class="card-body collapse">
								
							</div>
						</div>

						<!-- order details card -->
						<div class="card my-2">
							<div class="card-header d-flex justify-content-between align-items-center pr-2">
								Order Details
							</div>
							<div id="orderdetailscardbody" class="card-body collapse">
								
							</div>
						</div>

						<!-- Update Manual Customer by Number-->
						<div class="card my-2">
							<div class="card-header d-flex align-items-center pr-3">
								<span class="mr-auto">Update GS Customer Details Manually:</span>
								<input id="customernuminputbox" class="mr-2" type="number" name="customer number" placeholder="Customer Number">
								<button id="gs_updatecustomer_btn" onclick="updatecustomerings();"
							class="btn btn-danger">&nbsp;Update Customer in GS&nbsp;</button>
							</div>
							<div id="manualupdatecustomercardbody" class="card-body collapse">
								
							</div>
						</div>

						<!-- Update Manual Order -->
						<div class="card my-2">
							<div class="card-header d-flex align-items-center pr-3">
								<span class="mr-auto">Update GS Order Details Manually:</span>
								<input id="ordernuminputbox" class="mr-2" type="number" name="order number" placeholder="Order Number">
								<input id="orderidinputbox" class="mr-2" type="text" name="order id" placeholder="Order ID">
								<button id="gs_updateorder_btn" onclick="updateorderings();"
							class="btn btn-warning">&nbsp;Update Order in GS&nbsp;</button>
							</div>
							<div id="manualupdateordercardbody" class="card-body collapse">
								
							</div>
						</div>
						
						<!-- Update Manual Invoice -->
						<div class="card my-2">
							<div class="card-header d-flex align-items-center pr-3">
								<span class="mr-auto">Update GS Invoice Details Manually</span>
								<input id="invoicenuminputbox" class="mr-2" type="text" name="invoice number" placeholder="Invoice Number">
								<button id="gs_updateinvoice_btn" onclick="updateinvoiceings();"
							class="btn btn-success">Update Invoice in GS</button>
							</div>
							<div id="manualupdateinvoicecardbody" class="card-body collapse">
								
							</div>
						</div>

						<!-- Update Wix Dates -->
						<div class="card my-2">
							<div class="card-header d-flex align-items-center pr-3">
								<span>Update Fitting Dates in GS</span>
								<button id="gs_updatefittingdates_btn" onclick="updatefittingdatesings();"
							class="btn btn-primary ml-auto">Update Fitting Dates in GS</button>
							</div>
							<div id="manualupdatefittingdatescardbody" class="card-body collapse">
								
							</div>
						</div>

						<hr>
						<!-- retrieve tablet form -->
						<div class="d-flex align-items-center px-3 mt-3">
							<div id="retrieve_status_div" class="d-flex mr-auto">
								<div class="mr-3">Retrieve Record by:</div></div>
							<input id="emailinputbox" class="mr-2" type="text" name="email" placeholder="Email Add">
							<input id="phonenuminputbox" class="mr-2" type="number" name="phonenum" placeholder="Phone Num">
							<button id="retrieveformdetails_btn" onclick="retrieveformdetails_post();"
							class="btn btn-outline-primary" name="retrieve_form_details">Retrieve Form Details</button>
						</div>
						<hr class="mb-5">

					</div>
				</div>


	</div>
{% endblock %}

{% block bottomjs %}
	{% include 'statics/bottomjs.html' %}
	<script src="https://unpkg.com/gijgo@1.9.11/js/gijgo.min.js" type="text/javascript"></script>

	<script>


	function submitformdetails_post() {
	    console.log("Submitting Form Details to GS...") // sanity check
	    var formData = new FormData();
	    formData.append('bridename', $('#bridename').val());
        formData.append('groomname', $('#groomname').val());
        formData.append('phonenum', $('#phonenum').val());
        formData.append('emailfield', $('#emailfield').val());
        formData.append('howdidyouhear', $('#howdidyouhear').val());
        formData.append('eventdate1', $('#eventdate1').val());
        formData.append('eventtype1', $('#eventtype1').val());
        formData.append('eventvenue1', $('#eventvenue1').val());
        formData.append('eventdate2',$('#eventdate2').val());
        formData.append('eventtype2',$('#eventtype2').val());
        formData.append('eventvenue2',$('#eventvenue2').val());
        formData.append('eventdate3',$('#eventdate3').val());
        formData.append('eventtype3',$('#eventtype3').val());
        formData.append('eventvenue3',$('#eventvenue3').val());
        formData.append('requiredoutfit',[
        	$('#requiredoutfit_0:checked').length > 0 ? $('#requiredoutfit_0').val() : 'false',
        	$('#requiredoutfit_1:checked').length > 0 ? $('#requiredoutfit_1').val() : 'false',
        	]);
        formData.append('noofgowns',$('#noofgowns').val());
        formData.append('preferredoutfit', [
        	$('#preferredoutfit_0:checked').length > 0 ? $('#preferredoutfit_0').val() : 'false',
        	$('#preferredoutfit_1:checked').length > 0 ? $('#preferredoutfit_1').val() : 'false',
        	$('#preferredoutfit_2:checked').length > 0 ? $('#preferredoutfit_2').val() : 'false',
        	$('#preferredoutfit_3:checked').length > 0 ? $('#preferredoutfit_3').val() : 'false',
        	$('#preferredoutfit_4:checked').length > 0 ? $('#preferredoutfit_4').val() : 'false',
        	$('#preferredoutfit_5:checked').length > 0 ? $('#preferredoutfit_5').val() : 'false',
        	$('#preferredoutfit_6:checked').length > 0 ? $('#preferredoutfit_6').val() : 'false',
        	]);
        formData.append('preferredoutOthers',$('#preferredoutOthers').val());
        formData.append('preferredstyle',[
        	$('#preferredstyle_0:checked').length > 0 ? $('#preferredstyle_0').val() : 'false',
        	$('#preferredstyle_1:checked').length > 0 ? $('#preferredstyle_1').val() : 'false',
        	$('#preferredstyle_2:checked').length > 0 ? $('#preferredstyle_2').val() : 'false',
        	$('#preferredstyle_3:checked').length > 0 ? $('#preferredstyle_3').val() : 'false',
        	]);
        formData.append('preferredstyleOthers',$('#preferredstyleOthers').val());
        formData.append('preferredNeckline',[
        	$('#preferredNeckline_0:checked').length > 0 ? $('#preferredNeckline_0').val() : 'false',
        	$('#preferredNeckline_1:checked').length > 0 ? $('#preferredNeckline_1').val() : 'false',
        	$('#preferredNeckline_2:checked').length > 0 ? $('#preferredNeckline_2').val() : 'false',
        	$('#preferredNeckline_3:checked').length > 0 ? $('#preferredNeckline_3').val() : 'false',
        	$('#preferredNeckline_4:checked').length > 0 ? $('#preferredNeckline_4').val() : 'false',
        	$('#preferredNeckline_5:checked').length > 0 ? $('#preferredNeckline_5').val() : 'false',
        	]);
        formData.append('preferredNeckOthers',$('#preferredNeckOthers').val());
        formData.append('attendant',$('#attendant').val());
        formData.append('additionalnotes',$('#additionalnotes').val());
	    
	    $('#statusdiv').children("span").remove()
        $('#statusdiv').append("<span>Checking records for registered values...</span>")

	    $.ajax({
	        url : "submitformdetails/", // the endpoint
	        type : "POST", // http method
	        data : formData,
	    	processData: false,
	    	contentType: false,
	        // handle a successful response
	        success : function(json) {
	            $('#statusdiv').children("span").remove() //removes ALL spans
	            $('#statusdiv').append("<span>"+json["tabletform_msg"]+"</span>")
	            $('#acctdetailscardbody').toggleClass("show", $('#acctdetailscardbody').children().length > 0 )
	        },

	        // handle a non-successful response
	        error : function(xhr,errmsg,err) {
	        	$('#statusdiv').children("span").remove() //removes ALL spans
	            $('#statusdiv').append("<span>Error in Ajax Call.</span>")
	            console.log(errmsg);
	            console.log(xhr.status + ": " + xhr.responseText);
	        }
    	});

	    // ===== Deal with Acct Logs =====
	    $('#acctdetailscardbody').children("span").remove() //removes ALL spans
        $('#acctdetailscardbody').append("<span>Checking Booqable for registered acct...</span>")
        $('#acctdetailscardbody').toggleClass("show", $('#acctdetailscardbody').children().length > 0 )
    	$.ajax({
	        url : "processcustomeracct/", // the endpoint
	        type : "POST", // http method
	        data : formData,
	    	processData: false,
	    	contentType: false,
	        // handle a successful response
	        success : function(json) {
	            $('#acctdetailscardbody').children("span").remove() //removes ALL spans
	            $('#acctdetailscardbody').append("<span>"+json["custform_msg"]+"</span>")
	            $('#acctdetailscardbody').toggleClass("show", $('#acctdetailscardbody').children().length > 0 )


	            // ===== Deal with Order Creation and Logging ===== 
	            // if successful retrieval or creation of customer id in booqable,
	            // create order or return existing order
	            if (json['availcustID'] != null){

	            	console.log(json['availcustID']);
	            	formData.append('cust_id',json['availcustID']);
	            	$('#orderdetailscardbody').children("span").remove() //removes ALL spans
		            $('#orderdetailscardbody').append("<span>Checking for existing orders... </span>")
		            $('#orderdetailscardbody').toggleClass("show", $('#orderdetailscardbody').children().length > 0 )
		            
		            $.ajax({
						        url : "processorders/", // the endpoint
						        type : "POST", // http method
						        data : formData,
						    	processData: false,
						    	contentType: false,
						        // handle a successful response
						        success : function(json) {
						            $('#orderdetailscardbody').children("span").remove() //removes ALL spans
						            $('#orderdetailscardbody').append("<span>"+json["orders_msg"]+"</span>")
						            $('#orderdetailscardbody').toggleClass("show", $('#orderdetailscardbody').children().length > 0 );
						        },

						        // handle a non-successful response
						        error : function(xhr,errmsg,err) {
						        	$('#orderdetailscardbody').children("span").remove() //removes ALL spans
						            $('#orderdetailscardbody').append("<span>Error in Ajax Call.</span>")
						            console.log(errmsg);
						            console.log(xhr.status + ": " + xhr.responseText);
						        }
    				});

	            };
	        },

	        // handle a non-successful response
	        error : function(xhr,errmsg,err) {
	        	$('#acctdetailscardbody').children("span").remove() //removes ALL spans
	            $('#acctdetailscardbody').append("<span>Error in Ajax Call.</span>")
	            console.log(errmsg);
	            console.log(xhr.status + ": " + xhr.responseText);
	        }
    	});

	};

	function retrieveformdetails_post(){
		//console.log("retrieving...");
		$('#retrieve_status_div').children("span").remove()
        $('#retrieve_status_div').append("<span>Checking records for previous entries...</span>")

        var dataquery = new FormData();
	    dataquery.append('email', $('#emailinputbox').val());
        dataquery.append('phone', $('#phonenuminputbox').val());

        $.ajax({
	        url : "retrieveformdetails/", // the endpoint
	        type : "POST", // http method
	        data : dataquery,
	    	processData: false,
	    	contentType: false,
	        // handle a successful response
	        success : function(json) {
	            $('#retrieve_status_div').children("span").remove() //removes ALL spans
	            //json["retrieve_msg"]
	            //console.log(Object.keys(json).length);
	            if (Object.keys(json).length > 1){
	            	console.log(json); // sanity check

	            	// uncheck all first
	            	$('#bridename').val("");
        			$('#groomname').val("");
        			$('#phonenum').val("");
        			$('#emailfield').val("");
        			$('#howdidyouhear').val("");
        			$('#eventdate1').val("");
        			$('#eventtype1').val("None");
        			$('#eventvenue1').val("");
        			$('#eventdate2').val("");
        			$('#eventtype2').val("None");
        			$('#eventvenue2').val("");
        			$('#eventdate3').val("");
        			$('#eventtype3').val("None");
        			$('#eventvenue3').val("");

        			$('#requiredoutfit_0').prop("checked", false);
        			$('#requiredoutfit_1').prop("checked", false);

        			$('#noofgowns').val("");

        			$('#preferredoutfit_0').prop("checked", false);
        			$('#preferredoutfit_1').prop("checked", false);
        			$('#preferredoutfit_2').prop("checked", false);
        			$('#preferredoutfit_3').prop("checked", false);
        			$('#preferredoutfit_4').prop("checked", false);
        			$('#preferredoutfit_5').prop("checked", false);
        			$('#preferredoutfit_6').prop("checked", false);

        			$('#preferredoutOthers').val("");
					
					$('#preferredstyle_0').prop("checked", false);
					$('#preferredstyle_1').prop("checked", false);
					$('#preferredstyle_2').prop("checked", false);
					$('#preferredstyle_3').prop("checked", false);
        			$('#preferredstyleOthers').val("");

        			$('#preferredNeckline_0').prop("checked", false);
        			$('#preferredNeckline_1').prop("checked", false);
        			$('#preferredNeckline_2').prop("checked", false);
        			$('#preferredNeckline_3').prop("checked", false);
        			$('#preferredNeckline_4').prop("checked", false);
        			$('#preferredNeckline_5').prop("checked", false);
        			$('#preferredNeckOthers').val("");

        			$('#attendant').val("");
        			$('#additionalnotes').val("");



        			// Start set values
	            	$('#bridename').val(json['bridename']);
        			$('#groomname').val(json['groomname']);
        			$('#phonenum').val(json['phonenum']);
        			$('#emailfield').val(json['emailfield']);
        			$('#howdidyouhear').val(json['howdidyouhear']);
        			$('#eventdate1').val(json['eventdate1']);
        			$('#eventtype1').val(json['eventtype1']);
        			$('#eventvenue1').val(json['eventvenue1']);
        			$('#eventdate2').val(json['eventdate2']);
        			$('#eventtype2').val(json['eventtype2']);
        			$('#eventvenue2').val(json['eventvenue2']);
        			$('#eventdate3').val(json['eventdate3']);
        			$('#eventtype3').val(json['eventtype3']);
        			$('#eventvenue3').val(json['eventvenue3']);

        			// requiredoutfit
        			if (json['requiredoutfit'].indexOf("Bridal Gown") !== -1){
        				$('#requiredoutfit_0').prop("checked", true);
        			}
        			if (json['requiredoutfit'].indexOf("Evening Gown") !== -1){
        				$('#requiredoutfit_1').prop("checked", true);
        			}

        			// no of gowns
        			$('#noofgowns').val(json['noofgowns']);

        			// preferred outfit
        			if (json['preferredoutfit'].indexOf("Mermaid") !== -1){
        				$('#preferredoutfit_0').prop("checked", true);
        			}
        			if (json['preferredoutfit'].indexOf("Ball") !== -1){
        				$('#preferredoutfit_1').prop("checked", true);
        			}
        			if (json['preferredoutfit'].indexOf("A-Line") !== -1){
        				//console.log('a-line')
        				$('#preferredoutfit_2').prop("checked", true);
        			}
        			if (json['preferredoutfit'].indexOf("Modified-Line") !== -1){
        				$('#preferredoutfit_3').prop("checked", true);
        			}
        			if (json['preferredoutfit'].indexOf("Column") !== -1){
        				$('#preferredoutfit_4').prop("checked", true);
        			}
        			if (json['preferredoutfit'].indexOf("Trumpet") !== -1){
        				$('#preferredoutfit_5').prop("checked", true);
        			}
        			if (json['preferredoutfit'].indexOf("No Preference") !== -1){
        				$('#preferredoutfit_6').prop("checked", true);
        			}
        		
        			$('#preferredoutOthers').val(json['preferredoutOthers']);

        			// preferred style
        			if (json['preferredstyle'].indexOf("Bead Dress") !== -1){
        				$('#preferredstyle_0').prop("checked", true);
        			}
        			if (json['preferredstyle'].indexOf("Lace Dress") !== -1){
        				$('#preferredstyle_1').prop("checked", true);
        			}
        			if (json['preferredstyle'].indexOf("Plain") !== -1){
        				$('#preferredstyle_2').prop("checked", true);
        			}
        			if (json['preferredstyle'].indexOf("No Preference") !== -1){
        				$('#preferredstyle_3').prop("checked", true);
        			}

        			$('#preferredstyleOthers').val(json['preferredstyleOthers']);
        			

        			if (json['preferredNeckline'].indexOf("Sweetheart") !== -1){
        				$('#preferredNeckline_0').prop("checked", true);
        			}
        			if (json['preferredNeckline'].indexOf("V-Neck") !== -1){
        				$('#preferredNeckline_1').prop("checked", true);
        			}
        			if (json['preferredNeckline'].indexOf("Off-Shoulder") !== -1){
        				$('#preferredNeckline_2').prop("checked", true);
        			}
        			if (json['preferredNeckline'].indexOf("Straight Across") !== -1){
        				$('#preferredNeckline_3').prop("checked", true);
        			}
        			if (json['preferredNeckline'].indexOf("Illusion") !== -1){
        				$('#preferredNeckline_4').prop("checked", true);
        			}
        			if (json['preferredNeckline'].indexOf("Bateau") !== -1){
        				$('#preferredNeckline_5').prop("checked", true);
        			}

        			$('#preferredNeckOthers').val(json['preferredNeckOthers']);
        			$('#attendant').val(json['attendant']);
        			$('#additionalnotes').val(json['additionalnotes']);




	            	$('#retrieve_status_div').append("<span>"+"Record Retrieved. See Above."+"</span>")
	            }
	            else{
	            	$('#retrieve_status_div').append("<span>"+json["error"]+"</span>")
	            }

	        },

	        // handle a non-successful response
	        error : function(xhr,errmsg,err) {
	        	$('#retrieve_status_div').children("span").remove() //removes ALL spans
	            $('#retrieve_status_div').append("<span>Error in Ajax Call.</span>")
	            console.log(errmsg);
	            console.log(xhr.status + ": " + xhr.responseText);
	        }
    	});
	};

	function updatecustomerings(){
		console.log('update customer in gs function.');

		var customerformData = new FormData();
		customerformData.append('customernum', $('#customernuminputbox').val());

		$('#manualupdatecustomercardbody').children("span").remove() //removes ALL spans
	    $('#manualupdatecustomercardbody').append("<span>Retrieving Customer Info from Booqable...</span>")
	    $('#manualupdatecustomercardbody').toggleClass("show", $('#manualupdatecustomercardbody').children().length > 0 )

	    $.ajax({
	        url : "updatecustomerings/", // the endpoint
	        type : "POST", // http method
	        data : customerformData,
	    	processData: false,
	    	contentType: false,
	        // handle a successful response
	        success : function(json) {
	            $('#manualupdatecustomercardbody').children("span").remove() //removes ALL spans
	            $('#manualupdatecustomercardbody').append("<span>"+json["customer_msg"]+"</span>")
	            $('#manualupdatecustomercardbody').toggleClass("show", $('#manualupdatecustomercardbody').children().length > 0 )
	        },

	        // handle a non-successful response
	        error : function(xhr,errmsg,err) {
	        	$('#manualupdatecustomercardbody').children("span").remove() //removes ALL spans
	            $('#manualupdatecustomercardbody').append("<span>Error in Ajax Call.</span>")
	            console.log(errmsg);
	            console.log(xhr.status + ": " + xhr.responseText);
	        }
    	});

	};

	function updateorderings(){
		console.log('update order in gs function.');

		var orderformData = new FormData();
		orderformData.append('ordernum', $('#ordernuminputbox').val());
		orderformData.append('orderid', $('#orderidinputbox').val());

		$('#manualupdateordercardbody').children("span").remove() //removes ALL spans
	    $('#manualupdateordercardbody').append("<span>Retrieving Order from Booqable...</span>")
	    $('#manualupdateordercardbody').toggleClass("show", $('#manualupdateordercardbody').children().length > 0 )

		$.ajax({
	        url : "updateorderings/", // the endpoint
	        type : "POST", // http method
	        data : orderformData,
	    	processData: false,
	    	contentType: false,
	        // handle a successful response
	        success : function(json) {
	            $('#manualupdateordercardbody').children("span").remove() //removes ALL spans
	            $('#manualupdateordercardbody').append("<span>"+json["orders_msg"]+"</span>")
	            $('#manualupdateordercardbody').toggleClass("show", $('#manualupdateordercardbody').children().length > 0 )
	        },

	        // handle a non-successful response
	        error : function(xhr,errmsg,err) {
	        	$('#manualupdateordercardbody').children("span").remove() //removes ALL spans
	            $('#manualupdateordercardbody').append("<span>Error in Ajax Call.</span>")
	            console.log(errmsg);
	            console.log(xhr.status + ": " + xhr.responseText);
	        }
    	});

	};

	function updateinvoiceings(){
		console.log('update invoice in gs function.');
		//console.log($('#invoicenuminputbox').val())

		var invoiceformData = new FormData();
		invoiceformData.append('invoicenum', $('#invoicenuminputbox').val());

		$('#manualupdateinvoicecardbody').children("span").remove() //removes ALL spans
	    $('#manualupdateinvoicecardbody').append("<span>Retrieving Invoice from Booqable...</span>")
	    $('#manualupdateinvoicecardbody').toggleClass("show", $('#manualupdateinvoicecardbody').children().length > 0 )

		$.ajax({
	        url : "updateinvoiceings/", // the endpoint
	        type : "POST", // http method
	        data : invoiceformData,
	    	processData: false,
	    	contentType: false,
	        // handle a successful response
	        success : function(json) {
	            $('#manualupdateinvoicecardbody').children("span").remove() //removes ALL spans
	            $('#manualupdateinvoicecardbody').append("<span>"+json["invoice_msg"]+"</span>")
	            $('#manualupdateinvoicecardbody').toggleClass("show", $('#manualupdateinvoicecardbody').children().length > 0 )
	        },

	        // handle a non-successful response
	        error : function(xhr,errmsg,err) {
	        	$('#manualupdateordercardbody').children("span").remove() //removes ALL spans
	            $('#manualupdateordercardbody').append("<span>Error in Ajax Call.</span>")
	            console.log(errmsg);
	            console.log(xhr.status + ": " + xhr.responseText);
	        }
    	});
	};

	function updatefittingdatesings(){
		console.log('update fitting dates in gs function.');
		$('#manualupdatefittingdatescardbody').children("span").remove() //removes ALL spans
	    $('#manualupdatefittingdatescardbody').append("<span>Retrieving Google Calendar Data...</span>")
	    $('#manualupdatefittingdatescardbody').toggleClass("show", $('#manualupdatefittingdatescardbody').children().length > 0 )

	    var dummyFittingData = new FormData();

	    $.ajax({
	        url : "updatefittingdatesings/", // the endpoint
	        type : "POST", // http method
	        data : dummyFittingData,
	    	processData: false,
	    	contentType: false,
	        // handle a successful response
	        success : function(json) {
	            $('#manualupdatefittingdatescardbody').children("span").remove() //removes ALL spans
	            $('#manualupdatefittingdatescardbody').append("<span>"+json["fittingdates_msg"]+"</span>")
	            $('#manualupdatefittingdatescardbody').toggleClass("show", $('#manualupdatefittingdatescardbody').children().length > 0 )
	        },

	        // handle a non-successful response
	        error : function(xhr,errmsg,err) {
	        	$('#manualupdatefittingdatescardbody').children("span").remove() //removes ALL spans
	            $('#manualupdatefittingdatescardbody').append("<span>Error in Ajax Call.</span>")
	            console.log(errmsg);
	            console.log(xhr.status + ": " + xhr.responseText);
	        }
	    });
	};

    $(function () {
        $('#{{ formfields.eventdate1.id_for_label }}').datepicker({
        	uiLibrary: 'bootstrap4',
            format:'dd-mm-yyyy'
        });

        $('#{{ formfields.eventdate2.id_for_label }}').datepicker({
        	uiLibrary: 'bootstrap4',
            format:'dd-mm-yyyy'
        });

        $('#{{ formfields.eventdate3.id_for_label }}').datepicker({
        	uiLibrary: 'bootstrap4',
            format:'dd-mm-yyyy'
        });
    });


    // JS to Pass CSRF to Django Server
    $(function() {
    	// This function gets cookie with a given name
	    function getCookie(name) {
		    var cookieValue = null;
		    if (document.cookie && document.cookie != '') {
		        var cookies = document.cookie.split(';');
		        for (var i = 0; i < cookies.length; i++) {
		            var cookie = jQuery.trim(cookies[i]);
		            // Does this cookie string begin with the name we want?
		            if (cookie.substring(0, name.length + 1) == (name + '=')) {
		                cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
		                break;
		            }
		        }
		    }
		    return cookieValue;
		}
		
		var csrftoken = getCookie('csrftoken');

		/*
		The functions below will create a header with csrftoken
		*/

		function csrfSafeMethod(method) {
		    // these HTTP methods do not require CSRF protection
		    return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
		}

		function sameOrigin(url) {
		    // test that a given url is a same-origin URL
		    // url could be relative or scheme relative or absolute
		    var host = document.location.host; // host + port
		    var protocol = document.location.protocol;
		    var sr_origin = '//' + host;
		    var origin = protocol + sr_origin;
		    // Allow absolute or scheme relative URLs to same origin
		    return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
		        (url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
		        // or any other URL that isn't scheme relative or absolute i.e relative.
		        !(/^(\/\/|http:|https:).*/.test(url));
		}

		$.ajaxSetup({
	    beforeSend: function(xhr, settings) {
	        if (!csrfSafeMethod(settings.type) && sameOrigin(settings.url)) {
	            // Send the token to same-origin, relative URLs only.
	            // Send the token only if the method warrants CSRF protection
	            // Using the CSRFToken value acquired earlier
	            xhr.setRequestHeader("X-CSRFToken", csrftoken);
	        }
	    }
		});
	});

	</script>

{% endblock %}